.three-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    align-self: flex-end;
    margin: 0 0 15px 30px;
    width: 82px;
    height: 36px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.25);
}

.three-buttons button {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.three-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.three-buttons button.active {
    background-color: rgba(0, 0, 0, 0.25);
}