.TitlebarGridList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 10px;
    align-self: flex-end;
}

.TitlebarGridList .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 15px;
    margin-bottom: 3px;
    background-color: #A9A9A9;
}

.TitlebarGridList .title button {
    background-color: transparent;
    color: white;
    border: none;
}
.TitlebarGridList .title button:active {
    border: none;
}

.TitlebarGridList .gridList {
    align-self: center;
    width: 470px;
    height: auto;
}

.GridListTile
{
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
}