div.deleteButton {
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.deleteButton button {
    position: absolute;
    pointer-events: auto;
    transform: translate(-100%, -100%); 
    background-color: rgba(0, 0, 0, 0.4);
}

.deleteButton button:hover {
    background-color: rgba(0, 0, 0, 0.34);
}

.deleteButton button.active {
    background-color: rgba(0, 0, 0, 0.34);
}