div.progressbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;    
    overflow: hidden;

    background-color: darkgray;
}

div #progress{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:50%;
}

div #thumbnail{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

div .progress-ring__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

div .overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}