/* Property Menu Variable  */
:root {
    --navBar-height: 52px;
    --titleBar-height: 48px;
}

.propertyMenu {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: var(--navBar-height);
    max-height: calc(100vh - var(--navBar-height));
    top: 0;
    right: 0;
    z-index: 3;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
}

.propertyMenu .MenuContainer {
    max-height: calc(100vh - var(--navBar-height) - var(--titleBar-height));
    overflow-y: auto;
    width: 250px;
}

.propertyMenu .titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--titleBar-height);
    padding: 0 15px;
    border-bottom: black 1px solid;
}

.propertyMenu .titleBar button {
    background-color: transparent;
    color: #637280;
    border: none;
}
.propertyMenu .titleBar button:active {
    border: none;
}

.fa-icon-close {
    animation-name: rotateIcon;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.fa-icon-open {
    animation-name: rotateIcon-backaward;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotateIcon-backaward {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
