.sideMenu
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.sideMenu *{
    pointer-events: auto;
}

.sideMain {   
    width: 60px;
    height: 100vh;
    background-color: #818080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.sideMain button {
    width: 44px;
    height: 44px;
    margin: 2px 0;
    padding: 0;

    background-color: transparent;
    border: none;
}

.sideMain svg {
    color: #637280;
}

.sideSub {
    width: 500px;
    height: calc(100vh - 52px);
    background-color: white;
}

.splitLine {
    width: 25px;
    height: 0px;   
    border: solid 1px #bcbdc1;
}