div.viewerContainer{
    width: 100vw;
    height: 100vh;
}

.viewerContainer #css3d{
    text-align: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    border: none;
    outline: none;
    transform: scale(1.0);
}

.viewerContainer #three-root{
    text-align: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    border: none;
    outline: none;
}

.viewerContainer #error {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
