.top-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 52px;
    z-index: 4;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 1.0);
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;    
}

.top-menu .icon {
    display: flex;
    width: 152px;
    justify-content: space-between;
    align-items: center;    
}
.top-menu .icon img{
    padding: 1px;
}
.top-menu .icon span{
    font-size: 1.2em;
}

.control-buttons button {
    background-color: transparent;
    border: none;
}