.AttributePropertyBox {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    border-bottom: black 1px solid;
}

.AttributePropertyBox .BoxTitle {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
