.HotspotPropertyBox {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    border-bottom: black 1px solid;
    text-align: left;
}

.HotspotPropertyBox .BoxTitle {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HotspotPropertyBox .TitleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.HotspotPropertyBox .showTagContainer.hide {
    display: none;
}

/* Slider Value tip label compoent  */
.HotspotPropertyBox .MuiSlider-root span[class^="PrivateValueLabel-offset"] {
    top: -15px;
}

.HotspotPropertyBox span[class^="PrivateValueLabel-circle"] {
    background-color: black;
    padding: 2px 3px;
    width: 28px;
    height: 17px;
    transform: none;
    border-radius: 2px;
}

.HotspotPropertyBox span[class^="PrivateValueLabel-label"] {
    transform: none;
}
