.RotatePropertyBox {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    border-bottom: black 1px solid;
}

.RotatePropertyBox .BoxTitle {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Slider Value tip label compoent  */
.RotatePropertyBox .MuiSlider-root .PrivateValueLabel-offset-7 {
    top:-12px;
}

.RotatePropertyBox .MuiSlider-root .PrivateValueLabel-offset-7 .PrivateValueLabel-circle-8 {
    background-color: black;
    width: 28px;
    height: 17px;
    transform: none;
    border-radius: 2px;
}

.RotatePropertyBox .MuiSlider-root .PrivateValueLabel-circle-8 .PrivateValueLabel-label-9{
    transform: none;
}