.StylePropertyBox {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    border-bottom: black 1px solid;
}

.StylePropertyBox .TitleText {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Normal Button */
.StylePropertyBox .MuiButtonGroup-root {
    width: 100%;
}

.StylePropertyBox .MuiButton-root {
    color: #637280;
    width: 100%;
    height: 26px;
}
.StylePropertyBox .MuiButton-root.selectedBtn {
    background-color: #398ded;
    color: white;
}

/* Toggle  Button */
.StylePropertyBox .MuiToggleButtonGroup-root {
    width: 100%;
}

.StylePropertyBox .MuiToggleButton-root {
    color: #637280;
    width: 100%;
    height: 26px;
}

.StylePropertyBox .MuiToggleButton-root.Mui-selected {
    background-color: #398ded;
    color: white;
}
