.TextPropertyBox {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    border-bottom: black 1px solid;
}

.TextPropertyBox .BoxTitle {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.TextPropertyBox .endAdornment {
    position: absolute;
    bottom: 10px;
    right: 3px;
}
