.modal {
    display: block; /* Hidden by default */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .modal-content {
    display: block;
    position:absolute;
    margin-top: 30px;
    bottom:0;
    top:0;
    left: 0;
    right:0; 
}

.modal .modal-content .iframe-content {    
    border: 0px;
    bottom:0;
    top:0;
    left:0;
    right:0; 
    width: 100%;
    height: 100%;
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
    margin-right: 10px;
}

.modal .close:hover,
.modal .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
